

.idea/

trunk/src/build/
trunk/src/**/__pycache__/

trunk/src/xpra/build_info.py
trunk/src/xpra/src_info.py

trunk/src/xpra/*.c
trunk/src/xpra/*.html

trunk/src/xpra/buffers/*.c
trunk/src/xpra/buffers/*.html

trunk/src/xpra/client/gtk3/*.c
trunk/src/xpra/client/gtk3/*.html


trunk/src/xpra/codecs/**/*.c
trunk/src/xpra/codecs/**/*.html

trunk/src/xpra/codecs/cuda_common/*.fatbin
trunk/src/xpra/codecs/v4l2/*.pxi

trunk/src/xpra/gtk_common/**/*.c
trunk/src/xpra/gtk_common/**/*.html

trunk/src/xpra/net/**/*.c
trunk/src/xpra/net/**/*.html

trunk/src/xpra/platform/**/*.c
trunk/src/xpra/platform/**/*.html

trunk/src/xpra/server/**/*.c
trunk/src/xpra/server/**/*.html

trunk/src/xpra/x11/**/*.c
trunk/src/xpra/x11/**/*.html




